/* typographie

bd supper sans serif bold 
h1

et regular
h2 p h3

elza-text
p

couleurs

#A3B291 vert clair
#9799CA violet
#142207 vert/marron foncé

*/

body {
    background-color: #FBFFDC;
    background-image: url(../css/visuel_rhizome.png);
    background-repeat: repeat;
    scrollbar-width: auto;
}

h1 {
    font-family: "bd-supper", sans-serif;
    color: #142207;
    font-weight: 400;
}

/* • profil page user • */


.nom_profil {
    font-size: 2em;
    color: #FBFFDC;
}

.carte_identité {
    background-color: #A3B291;
    padding: 2em;
    border-radius: 2em;
}

.amazonie {
    font-family: "bd-supper", sans-serif;
    font-size: 10em;
    margin-top: 0.8em;
    margin-bottom: 0.5em;
    text-align: center;
}

.logo_index {
    margin-top: 2em;
}

/* • connexion • */


.connexion {
    border-style: none;
    margin-bottom: 15em;
    background-color: #A3B291;

}

.connexion_title {
    font-size: 12em;
    background-size: contain;
    background-image: url(./footer.png);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}


/* • login • */

.login_formulaire {
    margin-bottom: 38em;
}

.register_formulaire {
    margin-bottom: 33em;
}


.baseline {
    padding-top: 2em;
    margin-bottom: 5em;
    border-block-start: solid;
    color: #A3B291;
    writing-mode: horizontal-tb;
}

h2,
h3,
label {
    font-family: "bd-supper", sans-serif;
    color: #A3B291;
}

p,
a {
    font-family: "elza-text", sans-serif;
    color: #142207;
    text-decoration: none;
}


/* • Navbar • */

.navbar {
    width: 100%;
    background-color: #A3B291;
}

.nav-item {
    background-color: #A3B291;
}


.recherche {
    margin: 1em;
    border-style: none;
}

.recherche_buttom,
.card-header,.submit {
    background-color: #A3B291;
    border-style: none;
}




.collapse_co_deco {
    background-color: #ebf3e2;
    border-style: none;
    box-shadow: 0px 5px 5px #4e584279;
}



/* publication home */

.publication_home {
    background-color: #142207;
    border-radius: 40px;
    padding-left: 2em;
    padding-right: 2em;
    border-style: none;
}


/* commentaire's */

.commentaire_publication {
    background-color: #ebf3e2;
    border-radius: 1em;
    padding: 2em;
}

.creat_commentaire {
    background-color: #142207;
    border-radius: 40px;
    padding-left: 2em;
    padding-right: 2em;
    text-align: center;
}
.commentaire_modif {
    margin-bottom: 35em;
    padding: 2em;
    border-radius: 40px;
    background-color: #A3B291;

}

.bouton_ajout_image {
    background-color: #A3B291;
}

.parcourir {
    background-color: #A3B291;
    border-style: none;
}

.tags {
    background-color: #A3B291;
    border-style: none;
}

.partager {
    background-color: #9799CA;
    border-style: none;
}

.message_publication {
    background-color: #A3B291;
    border-style: none;
    margin-bottom: 2em;
}

/* • message feed • */

.avatar {
    height: 2em;
    width: 2em;
    margin-left: 0.5em;
}

.all_avatar {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}

.image_publie {
    border-radius: 2em;
    width: 45em;

}


.message_publie {
    margin-bottom: 2em;
}

.message_publie .card {
    font-family: "elza-text", sans-serif;
    font-weight: 300;
    padding: 2em;
    margin-top: 2em;
    background-color: #A3B291;
    border-style: none;

}

.commentaire_user {
    width: 24em;
}

.boutons_publications {
    padding: 1em;
    text-align: center;
    display: flex;
    flex-direction: row;

}

.style_button {
    background-color: #9799CA;
    margin-bottom: 2em;
    border-style: none;
}


/* • formulaire Modifier mon poste • */

.formulaire {
    background-color: #A3B291;
    border-radius: 2em;
    margin-bottom: 29em;
}

/* • footer • */

footer {
    padding: 4em;
    background-image: url(../css/footer.png);
    background-size: contain;
    /* object-fit: cover; */
}

footer p {
    font-size: 2em;
    color: white;
}



.quatrecentquatre {
    font-size: 50em;
    background-size: contain;
    background-image: url(./404.jpeg);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

/* portable */

@media only screen and (max-width: 390px) {
    .photo_profil {
        width: 13em !important;
        height: auto !important;
    }

    .administrateur {
        font-size: 1em !important;
    }
    .boutons_trois{
        display: flex;
        flex-direction: column;
    }
}

/* tablette */
@media only screen and (max-width: 768px) {

    .image_publie {
        width: 100%;
        height: auto;
    }

    h1 {
        font-size: 4em !important;
    }

    .administrateur {
        font-size: 2em !important;
    }

    .connexion {
        margin-bottom: 25em;
    }

    .connexion_title {
        margin-top: 2.5em;
    }

    .ensemble {
        margin-bottom: -9em;
    }

    /* profil */
    .photo_profil {
        width: 30em !important;
        height: auto !important;
    }
    .boutons_trois{
        display: flex;
        flex-direction: column;
    }
}