/* typographie

bd supper sans serif bold 
h1

et regular
h2 p h3

elza-text
p

couleurs

#A3B291 vert clair
#9799CA violet
#142207 vert/marron foncé

*/

body {
    background-color: #FBFFDC;
    background-image: url(../css/visuel_rhizome.png);
    background-repeat: repeat;
    scrollbar-width: auto;
}

h1 {
    font-family: "bd-supper", sans-serif;
    color: #142207;
    font-weight: 400;
}

.amazonie {
    font-family: "bd-supper", sans-serif;
    font-size: 10em;
    margin-top: 0.8em;
    margin-bottom: 0.5em;
    text-align: center;
}

.logo_index {
    margin-top: 2em;
}

/* • connexion • */


.connexion {
    border-style: none;
    background-color: #A3B291;

}

.connexion_title {
    font-size: 12em;
}

.baseline {
    margin-top: 15em;
}

h2,
h3,
label {
    font-family: "bd-supper", sans-serif;
    color: #A3B291;
}

p,
a {
    font-family: "elza-text", sans-serif;
    color: #142207;
    text-decoration: none;
}


/* • Navbar • */

.navbar {
    width: 100%;
    background-color: #A3B291;
}

.nav-item {
    background-color: #A3B291;
}

.recherche {
    margin: 1em;
    border-style: none;
}

.collapse_co_deco {
    background-color: #ebf3e2;
    border-style: none;
    box-shadow: 0px 5px 5px #4e584279;
}



.commentaire_publication {
    background-color: #ebf3e2;
    border-radius: 1em;
    padding: 2em;
}

.publication_home {
    background-color: #142207;
    border-radius: 40px;
    padding-left: 2em;
    padding-right: 2em;
    border-style: none;
}


.parcourir {
    background-color: #A3B291;
    border-style: none;
}

.tags {
    background-color: #A3B291;
    border-style: none;
}

.partager {
    background-color: #9799CA;
    padding-left: 4em;
    padding-right: 4em;
    margin-bottom: 2em;
    border-style: none;
}

.message_publication {
    background-color: #A3B291;
    margin-bottom: 2em;
}

/* • message feed • */

.avatar {
    height: 2em;
    width: 2em;
    margin-left: 0.5em;
}

.all_avatar {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}

.image_publie {
    border-radius: 2em;

}


.message_publie {
    margin-bottom: 2em;
}

.message_publie .card {
    font-family: "elza-text", sans-serif;
    font-weight: 300;
    padding: 2em;
    margin-top: 2em;
    background-color: #A3B291;
    border-style: none;

}

.boutons_publications {
    padding: 1em;
    text-align: center;
    display: flex;
    flex-direction: row;

}

.style_button {
    background-color: #9799CA;
    margin-bottom: 2em;
    border-style: none;
}


/* • formulaire Modifier mon poste • */

.formulaire {
    background-color: #A3B291;
    border-radius: 2em;
}

/* • footer • */

footer {
    background-size: contain;
    padding: 4em;
    background-image: url(../css/footer.png);
    /* object-fit: cover; */
}

footer p {
    font-size: 2em;
    color: white;
}